WebApiCore8/.vs
WebApiCore8/ApiCore8/bin
WebApiCore8/ApiCore8/obj
WebApiCore8/BLL/bin
WebApiCore8/BLL/obj
WebApiCore8/Core/bin
WebApiCore8/Core/obj
WebApiCore8/DAL/bin
WebApiCore8/DAL/obj
WebApiCore8/ML/bin
WebApiCore8/ML/obj
